pymongo[srv]
requests
google-cloud-storage
google-cloud-bigquery
apache-airflow==2.6.2
kaggle==1.5.13
google-cloud-storage==2.9.0
pandas==1.5.3
fsspec==2023.6.0
psycopg2-binary==2.9.6
gcsfs==2023.6.0
pyarrow==11.0.0